<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
table{
margin-top:100px;
margin-left:550px;
}
body{
background-image:url(https://thumbs.dreamstime.com/b/admin-login-sign-table-made-wood-68499314.jpg);
background-repeat:no-repeat;
    background-size: 1400px 500px, cover;

}
a{
  color:black;
}
</style>
</head>
<body>

<h2 style="text-align:center;">TRAINER DETAILS</h2>

<table>
  <tr><th>TRAINER NAME</th>
        <th>SALARY</th>
    
  </tr>
  <tr> <td>MICHAEL</td>
        <td>25K</td>
    
  </tr>
  <tr>
     <td>ROSY</td>
        <td>28K</td>
  </tr>
 <tr>
        <td>LILY</td>
        <td>25K</td>
      </tr>
<tr>
<td>KAVI</td>
<td>28k</td>
</tr>
<tr>
<td>KARTHI</td>
<td>28k</td>
</tr>
<tr>
<td>PREETHA</td>
<td>28k</td>
</tr>
<tr>
<td>JOHN</td>
<td>28k</td>
</tr>
<tr>
<td>HARISH</td>
<td>28k</td>
</tr>
<tr>
</table>
<ul>
  <li><a routerLink="/receipt">PAYMENT DETAILS</a></li>
</ul>
</body>
</html>

