<style>
hr {border-top: 1px solid #000; width:50%;}

a {color: #000;}

a:link{text-decoration:none;}

.box1{background: rgb(76, 175, 80, 0.6);}
.box2{background: rgb(192, 192, 200, 0.6);}
.box3{background: rgb(255, 0, 0, 0.6);;}



#author a{
  color: #fff;
  text-decoration: none;
    
} .button {
    background-color: navy;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 0px;
    cursor: pointer;
  }
</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<body>
    <a routerLink="/aprofile" class="button">HOME</a></body>
<div class="container-fluid">
<h1 class="text-center">Contact Address</h1>
<hr>
 
	<div class="row text-center">
	  <div class="col-4 box1 pt-4">
        <a href="tel:+9597015642"><i class="fas fa-phone fa-3x"></i>
        <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
        <p class="d-none d-lg-block d-xl-block">+9597015642</p></a>
      </div>
      <div class="col-4 box2 pt-4">
        <a href="https://www.google.com/maps/dir//iiht+bangalore/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3bae1565611075ff:0xe3a43dff844f3b43?sa=X&ved=2ahUKEwiSm73hhoDlAhXE6Y8KHbSnANIQ9RcwAHoECAEQCQ"><i class="fas fa-home fa-3x"></i>
        <h3 class="d-none d-lg-block d-xl-block">Address</h3>
        <p class="d-none d-lg-block d-xl-block">#15, 4th Floor, Laxmi Complex, St Marks Rd, Shanthala Nagar, Ashok Nagar, Bengaluru, Karnataka 560001</p></a>
      </div>
      <div class="col-4 box3 pt-4">
        <a href="mailto:iiht@gmail.com"><i class="fas fa-envelope fa-3x"></i>
        <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
        <p class="d-none d-lg-block d-xl-block">iiht@gmail.com</p></a>
      </div>
	</div>
</div>




