<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
 
 text-align: -webkit-center;   

}
table{
margin-top:150px;
margin-left:300px;
}
body{
background-image:url(https://i.pinimg.com/originals/ae/48/66/ae4866824012b855e82a358960c1d0d6.jpg);
}
</style>
</head>
<body>

<h2 style="text-align:center;">COURSE DETAILS</h2>

<table>
  <tr class="header"><th>COURSE CODE</th>
        <th>COURSE NAME</th>
        <th>COST FOR COURSE</th>
        <th>COURSE FILLED</th>
<th>COURSE REGISTRATION</th>
    
  </tr>
  <tr> <td>1001</td>
        <td>Java</td>
        <td>10k</td>
        <!---<div class="w3-border">
            <div class="w3-container w3-red w3-center" style="width:25%">30%</div>

          </div>!---->
      <td>   <progress value="22" max="100"></progress></td>
<td><button type="button" onclick="alert('REGISTERED!PAY FEE TO START LEARNING')">REGISTER</button></td>
   
  </tr>
  <tr>
     <td >1002</td>
        <td width="30%">Html</td>
        <td>7k</td>
      <td>   <progress value="45" max="100"></progress></td>
<td><button type="button" onclick="alert('REGISTERED!PAY FEE TO START LEARNING')">REGISTER</button></td>
</tr> 
 <tr>
        <td>1003</td>
        <td>Python</td>
        <td>10k</td>
        <td>   <progress value="100" max="100"></progress></td>
<td><button type="button" onclick="alert('REGISTERED!PAY FEE TO START LEARNING')">REGISTER</button></td>
          
      </tr>
 <tr>
        <td>1004</td>
        <td>php</td>
        <td>9k</td>
        <td>   <progress value="80" max="100"> </progress></td>
<td><button type="button" onclick="alert('REGISTERED!PAY FEE TO START LEARNING')">REGISTER</button></td>
      </tr>

</table>

</body>
</html>

