<div class="col-md-6">

<style>
h2{
text-align:center;

font-family:'Times New Roman', Times, serif;}
 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
td,th{
  border: 1px solid black;}
  .button {
    background-color: navy;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 0px;
    cursor: pointer;
  }
</style>

<body>
  <a routerLink="/admin1" class="button">BACK</a></body>
<h2>USER DETAILS</h2>
  <br>
  <br>
<table class="table table-striped">
  <thead>
  <tr>
    <th class="hidden">ID</th>
    <th>FIRSTNAME</th>
    <th>LASTNAME</th>
    <th>EMAIL</th>
    <th>USERNAME</th>
    <th>pASSWORD</th>
    <th>cONTACTNUMBER</th>
    <th>REGCODE</th>
    <th>LINKEDINURL</th>
    <th>ROLE</th>
    <th>YEARSOFEXPERIENCE</th>
    <th>ACTIVE</th>
    <th>CONFIRMEDSIGNUP</th>
    <th>RESETPASSWORD</th>
    <th>RESETPASSWORDDATE</th>
    
    
    
    
    
    
    
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td class="hidden">{{user.id}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.userName}}</td>
    <td>{{user.password}}</td>
    <td>{{user.contactNumber}}</td>
    <td>{{user.regCode}}</td>
    <td>{{user.linkedinUrl}}</td>
    <td>{{user.role}}</td>
    <td>{{user.yearsOfExperience}}</td>
    <td>{{user.active}}</td>
    <td>{{user.confirmedSignUp}}</td>
    <td>{{user.resetPassword}}</td>
    <td>{{user.resetPasswordDate}}</td>
    
    <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
  </tr>
  </tbody>
</table>
</div>
