<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
table{
margin-top:100px;
margin-left:450px;
}
body
{
background-image:url(https://i.pinimg.com/originals/ae/48/66/ae4866824012b855e82a358960c1d0d6.jpg);
}
</style>
</head>
<body>

<h2 style="text-align:center">TRAINING PERIOD</h2>

<table>
  <tr>
    <th>COURSE NAME</th>
    <th>TRAINING DURATION</th>
    <th>ASSESSMENT REGISTRATION</th>
    <th>ASSESSMENT DURARION</th>
  </tr>
  <tr>
    <td>JAVA</td>
    <td>3 MONTHS</td>
    <td><button type="button" onclick="alert('REGISTERED!')">REGISTER</button></td>
    <td>90mins</td>
  </tr>
  <tr>
    <td>HTML</td>
    <td>2 MONTHS</td>
    <td><button type="button" onclick="alert('REGISTERED!')">REGISTER</button></td>
    <td>70mins</td>
 
  </tr>
  <tr>
    <td>PHYTHON</td>
    <td>3 MONTHS</td>
    <td><button type="button" onclick="alert('REGISTERED!')">REGISTER</button></td>
    <td>60mins</td>
 
  </tr>
  <tr>
    <td>php</td>
    <td>2 MONTHS</td>
    <td><button type="button" onclick="alert('REGISTERED!')">REGISTER</button></td>
    <td>90mins</td>
 
  </tr>

</table>

</body>
</html>
