
<html lang="en">
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
body{
background-image:url("https://i.pinimg.com/originals/ae/48/66/ae4866824012b855e82a358960c1d0d6.jpg");
}
.jumbotron{
  background-image:url("https://i.pinimg.com/originals/ae/48/66/ae4866824012b855e82a358960c1d0d6.jpg");
}
a{
  color:black;
}
</style>

<body>

<div class="jumbotron text-center">
  <h1 style="text-align:center;font-size:40px;color:orangered;">FEE STRUCTURE</h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>JAVA</h3>
      <p>FOR JAVA USER HAVE TO PAY 10K </p>
    </div>
    <div class="col-sm-2">
      <h3>PYTHON</h3>
      <p>FOR PYTHON USER HAVE TO PAY 10K</p>
    </div>
    <div class="col-sm-2">
      <h3>PHP</h3>        
                    <p>  FOR PHP USER HAVE TO PAY 8K</p>
    </div>
<div class="col-sm-2">
      <h3>HTML</h3>        
                    <p>  FOR HTML USER HAVE TO PAY 8K</p>
    </div>
  </div>
</div>
<div class="container">
<ul>      <li><a routerLink="/learning">HOME</a></li>
  <li><a routerLink="/opayment">ONLINEPAYMENT</a></li>
  
      <li><a routerLink="/signin">LOGOUT</a></li>
    </ul>
  </div>

</body>
</html>
