
<style>
    h2{
    text-align:center;
    
    font-family:'Times New Roman', Times, serif;}
     th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
    td,th{
      border: 1px solid black;}.button {
    background-color: navy;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 0px;
    cursor: pointer;
  }
  .container-fluid{
    overflow-x:scroll;
    width:auto;
  }
</style>

<body>
  <a routerLink="/signin" class="button">BACK</a>
<div class="container-fluid">
  <div class="row">
<div class="col-sm-6">
    <h2> TRAINING DETAILS</h2>
    <br>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
         
        <th>PROGRESS</th>
        <th>COMMISSIONAMOUNT</th>
        <th>RATING</th>

        <th>STARTDATE</th>
        <th>ENDDATE</th>
        <th>STARTTIME</th>
        <th>ENDTIME</th>
        <th>AMOUNTRECEIVED</th>
        
       <th>AMOUNTTOMENTOR</th>
     
    
     <th>FEES</th>
     <th>STATUS</th>
     <th>TRAININGS</th>
     <th>PAYMENTS</th>
   
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let training of trainings">
        <td class="hidden">{{training.id}}</td>
        <td><circle-progress
          [percent]="training.progress"
          [radius]="25"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="200"
        ></circle-progress>
       </td>
        <td>{{training.commissionAmount}}</td>
        <td>{{training.rating}}</td>
        <td>{{training.startDate}}</td>
        <td>{{training.endDate}}</td>
        <td>{{training.startTime}}</td>
        <td>{{training.endTime}}</td>
        <td>{{training.amountRecieved}}</td>
       
        <td>{{training.amountToMentor}}</td>
        
        <td>{{training.fees}}</td>
        <td>{{training.status}}</td>
        <td><button (click)="settraining(training)">Enroll now!</button></td>
        <td><button routerLink="/payment">Make Payment</button></td>
      </tr>
      </tbody>
    </table>
    </div></div></div>
  </body>