<!doctype html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
table{
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }

body{
background-image:url(https://media.istockphoto.com/vectors/grey-3d-user-background-with-web-symbols-vector-id1057686396);)
}
</style>
</head>
<body>

<h2 style="text-align:center;">USER TRAININGS</h2>

<table align="center">
  <tr><th>USERNAME</th>
        <th>COURSE</th>
        <th>NO_OF_DAYS COURSE</th>
        <th>NO_OF_DAYS COMPLETED</th>
         <th>ASSESSMENTS COMPLETED</th>    
  </tr>
  <tr> <td>PAVI</td>
        <td>JAVA</td>
        <td>90 DAYS</td>
        <td>43 DAYS</td>
         <td>1</td>
  </tr>
  <tr>
     <td>PREE</td>
        <td>JAVA</td>
        <td>90 DAYS</td>
        <td>43 DAYS</td>
         <td>1</td>
  </tr>
 <tr>
        <td>ANU</td>
        <td>JAVA</td>
        <td>90 DAYS</td>
        <td>43 DAYS</td>
         <td>1</td>
      </tr>
 <tr>
        <td>KAVI</td>
        <td>HTML</td>
        <td>60 DAYS</td>
        <td>13 DAYS</td>
         <td>0</td>
      </tr>
 <tr>
        <td>KARTHI</td>
        <td>HTML</td>
        <td>60 DAYS</td>
        <td>13 DAYS</td>
         <td>0</td>
      </tr>
 <tr>
        <td>AZHAGU</td>
        <td>HTML</td>
        <td>60 DAYS</td>
        <td>13 DAYS</td>
         <td>0</td>
      </tr>
 <tr>
        <td>LISA</td>
        <td>PHYTHON</td>
        <td>90 DAYS</td>
        <td>60 DAYS</td>
         <td>2</td>
      </tr>
<tr>
        <td>MONI</td>
        <td>PHYTHON</td>
        <td>90 DAYS</td>
        <td>60 DAYS</td>
         <td>2</td>
      </tr>
<tr>
        <td>HARSHA</td>
        <td>PHYTHON</td>
        <td>90 DAYS</td>
        <td>60 DAYS</td>
         <td>2</td>
      </tr>
<tr>
        <td>MEENA</td>
        <td>PHP</td>
        <td>60 DAYS</td>
        <td>55 DAYS</td>
         <td>3</td>
      </tr>
<tr>
        <td>DIVYA</td>
        <td>PHP</td>
        <td>60 DAYS</td>
        <td>55 DAYS</td>
         <td>3</td>
      </tr>
<tr>
        <td>ANJU</td>
        <td>PHP</td>
        <td>60 DAYS</td>
        <td>55 DAYS</td>
         <td>3</td>
      </tr>
</table>

</body>
</html>